body {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(164, 173, 185)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
